@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

body {
  font-family: "Inter", sans-serif !important;
}

a:hover{
  text-decoration: none !important;
  color: black !important;
}
.pageTitle{
  color: black;
  font-weight: 800;
}




.articlePreview{
  /* background: #e9ecef; */
  /* padding: 5px 20px; */
  border-radius: 2px;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tag-gq{
  padding: 2px 18px;
  background: blue;
  color: white;
  border-radius: 1px;
}
.tag-gq:hover{
  color: white !important;
  background: black;
}

/* ***************** */
/***** INPUT FIELD ***/
/* ***************** */
input {
  border: 3px solid black;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 24px !important;
  font-weight: 500;
}
input:focus{
  border: 3px solid blue;
  outline: none;
}


/*************/
/* BUTTONS */
/*************/
button{
  border: none;
}
.button-gq{
  padding: 5px 25px;
  /* border: 2px solid black !important; */
  border-radius: 2px;
  color: white;
  font-size: 24px;
  background: black;
  font-weight: 600;
}
.button-gq:hover{
  background: blue;
  color:  white !important;
}



/***************/
/* TITLES */
/***************/
.title-home{
font-size: 62px !important;
font-weight: 800 !important;
}
.title-gq{
  color: black;
  font-weight: 800;
  font-size: 42px;
}
.subtitle-gq{
  color: lightslategray;
  font-weight: 500;
  font-size: 20px;
}


/*****************/
/* NAVIGATION */
/*****************/
.nav {
  height: 48px;
  /* font-size: 18px; */
}
#logo {
  font-weight: 800;
  font-size: 24px;
}
.gq {
  color: blue;
}
.navbar-toggler {
  border: none !important;
  outline: none !important;
}
.nav-link {
  font-weight: 600;
  text-transform: uppercase;
}
.nav-link:hover {
  color: black;
}
.navbar {
  padding: 0 !important;
}





/******************/
/* LINK ANIMATION */
/******************/
.ani-link {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.ani-link::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: blue;
  transition: width 0.3s;
}

.ani-link:hover::after {
  width: 100%;
  transition: width 0.3s;
}
