{{ define "main" }}


<!-- <div id="home-jumbotron" class="jumbotron">
  <div class="container">
    <h1 class="title-gq">Free resources</h1>
    <p class="subtitle-gq"> a website for all things UPSC</p>
    <br>
    <p>
      <a class="button-gq" href="#" role="button">Learn more</a>
    </p>
  </div>
</div> -->


<div class="container">
  <br>
  <br>
  
  <!-- PAGE LISTING -->

  <li style="list-style-type: none">
    <h2><a class="title-home ani-link"href="/articles">Articles</a></h2>
  </li>
  <li style="list-style-type: none">
    <h2><a class="title-home ani-link"href="/books">Books</a></h2>
  </li>
  <li style="list-style-type: none">
    <h2><a class="title-home ani-link"href="/syllabus">Syllabus</a></h2>
  </li>

<!-- PAGE LISTING ENDS -->

<br>
<br>

<!-- SUBSCRIPTION FORM -->

<h1 style="font-weight:800; color: black;border-bottom: 3px solid blue;width:auto;display:inline-block;">Subscribe to get updates</h1>
  <form name="contact" action="/thanks" netlify>
    <p><input type="text" name="name" placeholder="Name" required/>
    </p>
    <p>
      <input type="email" name="email" placeholder="name@email.com" required/>
    </p>
    <p>
      <button class="button-gq" type="submit">Send</button>
    </p>
  </form>
<!-- SUBSCRIPTION FORM ENDS -->


</div>

{{ end }}
