{{ define "main" }}


<!-- <div id="home-jumbotron" class="jumbotron">
  <div class="container">
    <h1 class="title-gq">Free resources</h1>
    <p class="subtitle-gq"> a website for all things UPSC</p>
    <br>
    <p>
      <a class="button-gq" href="#" role="button">Learn more</a>
    </p>
  </div>
</div> -->


<div class="container">
  <br>
  <br>
  
  <!-- PAGE LISTING -->

  <li style="list-style-type: none">
    <h2><a class="title-home ani-link"href="/articles">Articles</a></h2>
  </li>
  <li style="list-style-type: none">
    <h2><a class="title-home ani-link"href="/books">Books</a></h2>
  </li>
  <li style="list-style-type: none">
    <h2><a class="title-home ani-link"href="/syllabus">Syllabus</a></h2>
  </li>

<!-- PAGE LISTING ENDS -->

<br>
<br>

<!-- SUBSCRIPTION FORM -->

<!-- <h1 style="font-weight:800; color: black;border-bottom: 3px solid blue;width:auto;display:inline-block;">Subscribe to get updates</h1>
  <form name="contact" action="/thanks" netlify>
  
    <p><input type="text" name="name" placeholder="Name" required/>
    </p>
    <p>
      <input type="email" name="email" placeholder="name@email.com" required/>
    </p>
    <p>
      <button class="button-gq" type="submit">Subscribe</button>
    </p>
  </form> -->
  
<!-- SUBSCRIPTION FORM ENDS -->



<!-- ANOTHER FORM --><script src="https://f.convertkit.com/ckjs/ck.5.js"></script>
<form
action="https://app.convertkit.com/forms/1621941/subscriptions"
class="seva-form formkit-form"
method="post"
data-sv-form="1621941"
data-uid="ff9f599d1a"
data-format="inline"
data-version="5"
data-options='{"settings":{"after_subscribe":{"action":"redirect","success_message":"Success! Now check your email to confirm your subscription.","redirect_url":"http://upsc.gq/thanks"},"analytics":{"google":null,"facebook":null,"segment":null,"pinterest":null},"modal":{"trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15},"recaptcha":{"enabled":false},"return_visitor":{"action":"show","custom_content":""},"slide_in":{"display_in":"bottom_right","trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15},"sticky_bar":{"display_in":"top","trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15}},"version":"5"}'
min-width="400 500 600 700 800"
>
<p> <input
                aria-label="Your first name"
                name="fields[first_name]"
                placeholder="Your first name"
                type="text"
                required
            />
          </p>

           <p><input
                class="formkit-input"
                name="email_address"
                aria-label="Your email address"
                placeholder="Your email address"
                required=""
                type="email"
            /></p>
        
            <p ><button class="button-gq" data-element="submit">Subscribe
        </button></p>
       
        
   
</form>


</div>

{{ end }}
