{{ define "main" }}

<div class="container" style="width: 720px;margin:auto;">
    <br>
        <style type="text/css">
            ol {
                margin: 0;
                padding: 0;
            }
            table td,
            table th {
                padding: 0;
            }
            .c2 {
                color: #000000;
                font-weight: 700;
                text-decoration: none;
                vertical-align: baseline;
                font-size: 14pt;
                font-family:"Inter", sans-serif !important;
                font-style: normal;
            }
            .c5 {
                color: #999999;
                font-weight: 400;
                text-decoration: none;
                vertical-align: baseline;
                font-size: 12pt;
                font-family: "Inter", sans-serif !important;
                font-style: italic;
            }
            .c11 {
                padding-top: 20pt;
                padding-bottom: 6pt;
                line-height: 1.5;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: center;
            }
            .c8 {
                color: #434343;
                font-weight: 400;
                text-decoration: none;
                vertical-align: baseline;
                font-size: 12pt;
                font-family: "Inter", sans-serif !important;
                font-style: normal;
            }
            .c0 {
                color: #434343;
                font-weight: 400;
                text-decoration: none;
                vertical-align: baseline;
                font-size: 14pt;
                font-family:"Inter", sans-serif !important;
                font-style: normal;
            }
            .c4 {
                color: #434343;
                font-weight: 700;
                text-decoration: none;
                vertical-align: baseline;
                font-size: 14pt;
                font-family: "Inter", sans-serif !important;
                font-style: normal;
            }
            .c1 {
                padding-top: 0pt;
                padding-bottom: 0pt;
                line-height: 1.5;
                orphans: 2;
                widows: 2;
                text-align: left;
            }
            .c3 {
                padding-top: 0pt;
                padding-bottom: 0pt;
                line-height: 1.5;
                orphans: 2;
                widows: 2;
                text-align: center;
            }
            .c7 {
                padding-top: 0pt;
                padding-bottom: 0pt;
                line-height: 1.5;
                orphans: 2;
                widows: 2;
                text-align: justify;
            }
            .c13 {
                background-color: #ffffff;
                max-width: 523.3pt;
                padding: 36pt 36pt 36pt 36pt;
            }
            .c12 {
                font-family: "Inter", sans-serif !important;
                color: #434343;
                font-weight: 400;
            }
            .c9 {
                font-weight: 700;
                font-family: "Inter", sans-serif !important;
            }
            .c10 {
                font-size: 14pt;
            }
            .c6 {
                height: 11pt;
            }
            .title {
                padding-top: 0pt;
                color: #000000;
                font-size: 26pt;
                padding-bottom: 3pt;
                font-family:"Inter", sans-serif !important;;
                line-height: 1.15;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: left;
            }
            .subtitle {
                padding-top: 0pt;
                color: #666666;
                font-size: 15pt;
                padding-bottom: 16pt;
                font-family: "Inter", sans-serif !important;
                line-height: 1.15;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: left;
            }
            li {
                color: #000000;
                font-size: 11pt;
                font-family: "Inter", sans-serif !important;
            }
            p {
                margin: 0;
                color: #000000;
                font-size: 11pt;
                font-family: "Inter", sans-serif !important;
            }
            h1 {
                padding-top: 20pt;
                color: #000000;
                font-size: 20pt;
                padding-bottom: 6pt;
                font-family: "Inter", sans-serif !important;
                line-height: 1.15;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: left;
            }
            h2 {
                padding-top: 18pt;
                color: #000000;
                font-size: 16pt;
                padding-bottom: 6pt;
                font-family: "Inter", sans-serif !important;
                line-height: 1.15;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: left;
            }
            h3 {
                padding-top: 16pt;
                color: #434343;
                font-size: 14pt;
                padding-bottom: 4pt;
                font-family: "Inter", sans-serif !important;
                line-height: 1.15;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: left;
            }
            h4 {
                padding-top: 14pt;
                color: #666666;
                font-size: 12pt;
                padding-bottom: 4pt;
                font-family: "Inter", sans-serif !important;
                line-height: 1.15;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: left;
            }
            h5 {
                padding-top: 12pt;
                color: #666666;
                font-size: 11pt;
                padding-bottom: 4pt;
                font-family: "Inter", sans-serif !important;
                line-height: 1.15;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: left;
            }
            h6 {
                padding-top: 12pt;
                color: #666666;
                font-size: 11pt;
                padding-bottom: 4pt;
                font-family: "Inter", sans-serif !important;
                line-height: 1.15;
                page-break-after: avoid;
                font-style: italic;
                orphans: 2;
                widows: 2;
                text-align: left;
            }
        </style>
 
        <h1 class="c11" id="h.97jh7cvfuzzh"><span class="c9">S</span><span class="c9">yllabi For UPSC CSE</span></h1>
        <p class="c6 c7"><span class="c5"></span></p>
        <hr />
        <p class="c7 c6"><span class="c5"></span></p>
        <p class="c7 c6"><span class="c5"></span></p>
        <p class="c3"><span class="c2">Part A&mdash;Preliminary Examination</span></p>
        <p class="c3 c6"><span class="c2"></span></p>
        <p class="c1">
            <span class="c2">
                Paper I - (200 marks)
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; Duration: Two hours
            </span>
        </p>
        <p class="c1 c6"><span class="c0"></span></p>
        <p class="c1"><span class="c12 c10">&bull;</span><span class="c0">&nbsp;Current events of national and international importance.</span></p>
        <p class="c1"><span class="c0">&bull; History of India and Indian National Movement.</span></p>
        <p class="c1"><span class="c0">&bull; Indian and World Geography-Physical, Social, Economic Geography of India and the World.</span></p>
        <p class="c1"><span class="c0">&bull; Indian Polity and Governance-Constitution, Political System, Panchayati Raj, Public Policy, Rights Issues, etc.</span></p>
        <p class="c1"><span class="c0">&bull; Economic and Social Development-Sustainable Development, Poverty, Inclusion, Demographics, Social Sector Initiatives, etc.</span></p>
        <p class="c1"><span class="c0">&bull; General issues on Environmental ecology, Biodiversity and Climate Change - that do not require subject specialization.</span></p>
        <p class="c1"><span class="c0">&bull; General Science.</span></p>
        <p class="c1 c6"><span class="c0"></span></p>
        <p class="c1">
            <span class="c2">
                Paper II-(200 marks)
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp; Duration : Two hours
            </span>
        </p>
        <p class="c1 c6"><span class="c0"></span></p>
        <p class="c1"><span class="c0">&bull; Comprehension;</span></p>
        <p class="c1"><span class="c0">&bull; Interpersonal skills including communication skills;</span></p>
        <p class="c1"><span class="c0">&bull; Logical reasoning and analytical ability;</span></p>
        <p class="c1"><span class="c0">&bull; Decision making and problem solving;</span></p>
        <p class="c1"><span class="c0">&bull; General mental ability;</span></p>
        <p class="c1">
            <span class="c10 c12">&bull; Basic numeracy (numbers and their relations, orders of magnitude, etc.) (Class X level), Data interpretation (charts, graphs, tables, data sufficiency etc. &mdash; Class X level);</span>
        </p>
        <hr />
        <p class="c1 c6"><span class="c0"></span></p>
        <p class="c1 c6"><span class="c0"></span></p>
        <p class="c3"><span class="c9 c10">Part B&mdash;Main Examination</span></p>
        <p class="c1 c6"><span class="c2"></span></p>
        <p class="c1"><span class="c2">QUALIFYING PAPERS ON INDIAN LANGUAGES AND ENGLISH</span></p>
        <p class="c1 c6"><span class="c2"></span></p>
        <p class="c1">
            <span class="c0">The aim of the paper is to test the candidates&rsquo; ability to read and understand serious discursive prose, and to express his ideas clearly and correctly, in English and Indian language concerned.</span>
        </p>
        <p class="c1 c6"><span class="c0"></span></p>
        <p class="c1"><span class="c0">The pattern of questions would be broadly as follows :</span></p>
        <p class="c1 c6"><span class="c0"></span></p>
        <p class="c1"><span class="c0">(i) Comprehension of given passages.</span></p>
        <p class="c1"><span class="c0">(ii) Pr&eacute;cis Writing.</span></p>
        <p class="c1"><span class="c0">(iii) Usage and Vocabulary.</span></p>
        <p class="c1"><span class="c0">(iv) Short Essays.</span></p>
        <p class="c1 c6"><span class="c0"></span></p>
        <p class="c1"><span class="c2">Indian Languages:&mdash;</span></p>
        <p class="c1 c6"><span class="c2"></span></p>
        <p class="c1"><span class="c0">(i) comprehension of given passages.</span></p>
        <p class="c1"><span class="c0">(ii) Pr&eacute;cis Writing.</span></p>
        <p class="c1"><span class="c0">(iii) Usage and Vocabulary.</span></p>
        <p class="c1"><span class="c0">(iv) Short Essays.</span></p>
        <p class="c1"><span class="c0">(v) Translation from English to the Indian Language and vice-versa.</span></p>
        <p class="c3 c6"><span class="c2"></span></p>
        <p class="c3 c6"><span class="c2"></span></p>
        <p class="c3 c6"><span class="c2"></span></p>
        <p class="c3"><span class="c2">PAPER-I</span></p>
        <p class="c3 c6"><span class="c2"></span></p>
        <p class="c1">
            <span class="c0">
                Essay: Candidates may be required to write essays on multiple topics. They will be expected to keep closely to the subject of the essay to arrange their ideas in an orderly fashion, and to write concisely. Credit will be
                given for effective and exact expression.
            </span>
        </p>
        <p class="c3 c6"><span class="c4"></span></p>
        <p class="c3"><span class="c2">PAPER-II</span></p>
        <p class="c3 c6"><span class="c2"></span></p>
        <p class="c1"><span class="c4">General Studies-I : Indian Heritage and Culture, History and Geography of the World and Society.</span></p>
        <p class="c1 c6"><span class="c4"></span></p>
        <p class="c1"><span class="c0">&bull; Indian culture will cover the salient aspects of Art Forms, Literature and Architecture from ancient to modern times.</span></p>
        <p class="c1"><span class="c0">&bull; Modern Indian history from about the middle of the eighteenth century until the present significant events, personalities, issues.</span></p>
        <p class="c1"><span class="c0">&bull; The Freedom Struggle &mdash; its various stages and important contributors/contributions from different parts of the country.</span></p>
        <p class="c1"><span class="c0">&bull; Post-independence consolidation and reorganization within the country.</span></p>
        <p class="c1">
            <span class="c0">
                &bull; History of the world will include events from the 18th century, such as the Industrial revolution, world wars, redrawal of national boundaries, colonization, decolonization, political philosophies like communism,
                capitalism, socialism etc.&mdash; their forms and effect on the society.
            </span>
        </p>
        <p class="c1"><span class="c0">&bull; Salient features of Indian Society, Diversity of India.</span></p>
        <p class="c1"><span class="c0">&bull; Role of women and women&rsquo;s organization, population and associated issues, poverty and developmental issues, urbanization, their problems and their remedies.</span></p>
        <p class="c1"><span class="c0">&bull; Effects of globalization on Indian society.</span></p>
        <p class="c1"><span class="c0">&bull; Social empowerment, communalism, regionalism &amp; secularism.</span></p>
        <p class="c1"><span class="c0">&bull; Salient features of world&rsquo;s physical geography.</span></p>
        <p class="c1">
            <span class="c0">
                &bull; Distribution of key natural resources across the world (including South Asia and the Indian sub-continent); factors responsible for the location of primary, secondary, and tertiary sector industries in various parts
                of the world (including India).
            </span>
        </p>
        <p class="c1">
            <span class="c0">
                &bull; Important Geophysical phenomena such as earthquakes, Tsunami, Volcanic activity, cyclone etc., geographical features and their location-changes in critical geographical features (including water-bodies and ice-caps)
                and in flora and fauna and the effects of such changes.
            </span>
        </p>
        <p class="c1 c6"><span class="c0"></span></p>
        <p class="c3"><span class="c2">PAPER-III</span></p>
        <p class="c3 c6"><span class="c2"></span></p>
        <p class="c1"><span class="c4">General Studies- II: Governance, Constitution, Polity, Social Justice and International relations.</span></p>
        <p class="c1 c6"><span class="c4"></span></p>
        <p class="c1"><span class="c0">&bull; Indian Constitution&mdash;historical underpinnings, evolution, features, amendments, significant provisions and basic structure.</span></p>
        <p class="c1">
            <span class="c0">&bull; Functions and responsibilities of the Union and the States, issues and challenges pertaining to the federal structure, devolution of powers and finances up to local levels and challenges therein.</span>
        </p>
        <p class="c1"><span class="c0">&bull; Separation of powers between various organs dispute redressal mechanisms and institutions.</span></p>
        <p class="c1"><span class="c0">&bull; Comparison of the Indian constitutional scheme with that of other countries.</span></p>
        <p class="c1"><span class="c0">&bull; Parliament and State legislatures&mdash;structure, functioning, conduct of business, powers &amp; privileges and issues arising out of these.</span></p>
        <p class="c1">
            <span class="c0">
                &bull; Structure, organization and functioning of the Executive and the Judiciary&mdash;Ministries and Departments of the Government; pressure groups and formal/informal associations and their role in the Polity.
            </span>
        </p>
        <p class="c1"><span class="c0">&bull; Salient features of the Representation of the People&#39;s Act.</span></p>
        <p class="c1"><span class="c0">&bull; Appointment to various Constitutional posts, powers, functions and responsibilities of various Constitutional Bodies.</span></p>
        <p class="c1"><span class="c0">&bull; Statutory, regulatory and various quasi-judicial bodies.</span></p>
        <p class="c1"><span class="c0">&bull; Government policies and interventions for development in various sectors and issues arising out of their design and implementation.</span></p>
        <p class="c1"><span class="c0">&bull; Development processes and the development industry &mdash;the role of NGOs, SHGs, various groups and associations, donors, charities, institutional and other stakeholders.</span></p>
        <p class="c1">
            <span class="c0">
                &bull; Welfare schemes for vulnerable sections of the population by the Centre and the States and the performance of these schemes; mechanisms, laws, institutions and Bodies constituted for the protection and betterment of
                these vulnerable sections.
            </span>
        </p>
        <p class="c1"><span class="c0">&bull; Issues relating to development and management of Social Sector/Services relating to Health, Education, Human Resources.</span></p>
        <p class="c1"><span class="c0">&bull; Issues relating to poverty and hunger.</span></p>
        <p class="c1">
            <span class="c0">
                &bull; Important aspects of governance, transparency and accountability, e-governance applications, models, successes, limitations, and potential; citizens charters, transparency &amp; accountability and institutional and
                other measures.
            </span>
        </p>
        <p class="c1"><span class="c0">&bull; Role of civil services in a democracy.</span></p>
        <p class="c1"><span class="c0">&bull; India and its neighborhood- relations.</span></p>
        <p class="c1"><span class="c0">&bull; Bilateral, regional and global groupings and agreements involving India and/or affecting India&rsquo;s interests.</span></p>
        <p class="c1"><span class="c0">&bull; Effect of policies and politics of developed and developing countries on India&rsquo;s interests, Indian diaspora.</span></p>
        <p class="c1"><span class="c0">&bull; Important International institutions, agencies and fora- their structure, mandate.</span></p>
        <p class="c3"><span class="c2">PAPER-IV</span></p>
        <p class="c3 c6"><span class="c2"></span></p>
        <p class="c1"><span class="c4">General Studies-III: Technology, Economic Development, Biodiversity, Environment, Security and Disaster Management</span></p>
        <p class="c1 c6"><span class="c4"></span></p>
        <p class="c1"><span class="c0">&bull; Indian Economy and issues relating to planning, mobilization of resources, growth, development and employment.</span></p>
        <p class="c1"><span class="c0">&bull; Inclusive growth and issues arising from it.</span></p>
        <p class="c1"><span class="c0">&bull; Government Budgeting.</span></p>
        <p class="c1">
            <span class="c0">
                &bull; Major crops-cropping patterns in various parts of the country, - different types of irrigation and irrigation systems storage, transport and marketing of agricultural produce and issues and related constraints;
                e-technology in the aid of farmers.
            </span>
        </p>
        <p class="c1">
            <span class="c0">
                &bull; Issues related to direct and indirect farm subsidies and minimum support prices; Public Distribution System- objectives, functioning, limitations, revamping; issues of buffer stocks Government strives to have a
                workforce which reflects gender balance and women candidates are encouraged to apply.
            </span>
        </p>
        <p class="c1"><span class="c0">and food security; Technology missions; economics of animal-rearing.</span></p>
        <p class="c1"><span class="c0">&bull; Food processing and related industries in India- scope and significance, location, upstream and downstream requirements, supply chain management.</span></p>
        <p class="c1"><span class="c0">&bull; Land reforms in India.</span></p>
        <p class="c1"><span class="c0">&bull; Effects of liberalization on the economy, changes in industrial policy and their effects on industrial growth.</span></p>
        <p class="c1"><span class="c0">&bull; Infrastructure: Energy, Ports, Roads, Airports, Railways etc.</span></p>
        <p class="c1"><span class="c0">&bull; Investment models.</span></p>
        <p class="c1"><span class="c0">&bull; Science and Technology- developments and their applications and effects in everyday life.</span></p>
        <p class="c1"><span class="c0">&bull; Achievements of Indians in science &amp; technology; indigenization of technology and developing new technology.</span></p>
        <p class="c1"><span class="c0">&bull; Awareness in the fields of IT, Space, Computers, robotics, nano-technology, bio-technology and issues relating to intellectual property rights.</span></p>
        <p class="c1"><span class="c0">&bull; Conservation, environmental pollution and degradation, environmental impact assessment.</span></p>
        <p class="c1"><span class="c0">&bull; Disaster and disaster management.</span></p>
        <p class="c1"><span class="c0">&bull; Linkages between development and spread of extremism.</span></p>
        <p class="c1"><span class="c0">&bull; Role of external state and non-state actors in creating challenges to internal security.</span></p>
        <p class="c1">
            <span class="c0">
                &bull; Challenges to internal security through communication networks, role of media and social networking sites in internal security challenges, basics of cyber security; money-laundering and its prevention.
            </span>
        </p>
        <p class="c1"><span class="c0">&bull; Security challenges and their management in border areas - linkages of organized crime with terrorism.</span></p>
        <p class="c1"><span class="c0">&bull; Various Security forces and agencies and their mandate.</span></p>
        <p class="c3"><span class="c2">PAPER-V</span></p>
        <p class="c3 c6"><span class="c2"></span></p>
        <p class="c1"><span class="c4">General Studies- IV: Ethics, Integrity and Aptitude</span></p>
        <p class="c1 c6"><span class="c4"></span></p>
        <p class="c1">
            <span class="c0">
                This paper will include questions to test the candidates&rsquo; attitude and approach to issues relating to integrity, probity in public life and his problem solving approach to various issues and conflicts faced by him in
                dealing with society. Questions may utilise the case study approach to determine these aspects. The following broad areas will be covered :
            </span>
        </p>
        <p class="c1 c6"><span class="c0"></span></p>
        <p class="c1"><span class="c0">&bull; Ethics and Human Interface: Essence, determinants and consequences of Ethics in-human</span></p>
        <p class="c1">
            <span class="c0">
                actions; dimensions of ethics; ethics- in private and public relationships. Human Values - lessons from the lives and teachings of great leaders, reformers and administrators; role of family society and educational
                institutions in inculcating values.
            </span>
        </p>
        <p class="c1"><span class="c0">&bull; Attitude: content, structure, function; its influence and relation with thought and behaviour; moral and political attitudes; social influence and persuasion.</span></p>
        <p class="c1">
            <span class="c0">
                &bull; Aptitude and foundational values for Civil Service, integrity, impartiality and non-partisanship, objectivity, dedication to public service, empathy, tolerance and compassion towards the weaker-sections.
            </span>
        </p>
        <p class="c1"><span class="c0">&bull; Emotional intelligence-concepts, and their utilities and application in administration and governance.</span></p>
        <p class="c1"><span class="c0">&bull; Contributions of moral thinkers and philosophers from India and world.</span></p>
        <p class="c1">
            <span class="c0">
                &bull; Public/Civil service values and Ethics in Public administration: Status and problems; ethical concerns and dilemmas in government and private institutions; laws, rules, regulations and conscience as sources of ethical
                guidance; accountability and ethical governance; strengthening of ethical and moral values in governance; ethical issues in international relations and funding; corporate governance.
            </span>
        </p>
        <p class="c1">
            <span class="c0">
                &bull; Probity in Governance: Concept of public service; Philosophical basis of governance and probity; Information sharing and transparency in government, Right to Information, Codes of Ethics, Codes of Conduct,
                Citizen&rsquo;s Charters, Work culture, Quality of service delivery, Utilization of public funds, challenges of corruption.
            </span>
        </p>
        <p class="c1"><span class="c0">&bull; Case Studies on above issues.</span></p>
        <p class="c1 c6"><span class="c0"></span></p>
    

</div>

{{ end }}